{% extends 'offlinePortal/home.html' %}
{% block title %} Users {% endblock %}
{% block header %}
Users
{% endblock %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" integrity="sha512-wnea99uKIC3TJF7v4eKk4Y+lMz2Mklv18+r4na2Gn1abDRPPOeef95xTzdwGD9e6zXJBteMIhZ1+68QC5byJZw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<style>
    {% block styles %}
    {% endblock %}
    table,th,td{
        border:1px solid black;
        padding:1rem;
        max-width:500px;
    }
    a{
        color:blue;
        text-decoration:underline;
    }
    
</style>


<div style="display:flex ; justify-content:space-evenly">
    <a href={% url 'allUsers' %} style="text-decoration:Solid ; color:black;"  >All Users</a>
    <a href={% url 'leaders' %} style="text-decoration:Solid ; color:black;" > All Leaders</a>
</div>
<div>
    <h1 class="text-center w-full text-3xl font-bold my-10">All Users </h1>
    <div class="flex justify-center w-full margin-auto p-5 text-center">

        <table>
            <tr>
                <th>Sl No.</th>
                <th>Module</th>
                <th>Competition Name</th>
                <th>Leader Alcher Id</th>
                <th>Leader Name</th>
                <th>Participants</th>
                <th>Performance Link</th>
                <th>Description</th>
            </tr>
            {% for submission in users %}
            <tr>
                <td> {{ forloop.counter }} </td>
                <td> {{ submission.event.module }} </td>
                <td> {{ submission.event.event_name }} </td>
                {% if submission.leader.alcherid %}
                <td> {{ submission.leader.alcherid }}</td>
                <td> {{ submission.leader.fullname }}</td>
                <td>
                    {% for member in submission.members.all %}
                    <p> {{member.name}}, {{member.phone}},{{member.email}}<br></p>
                    {% endfor %}
                </td>
                <td>Submission not needed</td>
                <td>-</td>
                {% else %}
                <td> {{ submission.team.leader.alcherid }} </td>
                <td> {{ submission.team.leader.fullname }} </td>
                <td>
                    {% for member in submission.team.members.all %}
                    <p> {{member.name}}, {{member.phone}},{{member.email}}<br></p>
                    {% endfor %}
                </td>
                <td>
                    <p class="submission-link">
                        <a href="{{ submission.link }}" target='__blank'> {{ submission.link }} </a>
                    </p>
                </td>
                <td> {{ submission.description}} </td>
                {% endif %}
            </tr>
            {% endfor %}


        </table>

    </div>


</div>


{% endblock %}