{% extends 'offlinePortal/home.html' %}
{% block title %} Search {% endblock %}
{% block styles %}
<style>
    table,
    th,
    td {
        border: 1px solid black;
        padding: 1rem;
        max-width: 700px;
    }

    a {
        color: blue;
        text-decoration: underline;
    }

    body {
        font-size: large;
    }
</style>
{% endblock styles %}
{% block header %}
General Search
{% endblock %}
{% block content %}
<div style="display:flex ; justify-content:space-evenly">
    <a href={% url 'allUsers' %} style="text-decoration:Solid ; color:black;"  >All Users</a>
    <a href={% url 'leaders' %} style="text-decoration:Solid ; color:black;" > All Leaders</a>
</div>



{% endblock %}