<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap" rel="stylesheet">
<style>
    table,
td {
  border: solid 5px black;
  text-align: center;
  border-collapse: collapse;
}

.bold~tr td {
  border: solid 1px lightgray;
}

td {
  padding: 2em;
}

[colspan="4"][rowspan="2"] {
  height: 10em;
}
[colspan="1"][rowspan="2"] {
  height:5em;
}
</style>
</head>
<body>
    <div class="container1" style="display: flex; align-items:center;justify-content: space-between; margin-right: 12vw; margin-top: 2vw;">
        <div class="logo" style="margin-left: 5vw;font-family: 'Inter', sans-serif;">
            <img src="./images/Mask group.png" width="250vw" alt="">
            <p style="font-size: 1.3vw;"><b>Dihing Hostel, IIT Guwahati</b></p>
            <br>
            <p style="font-size: 1.3vw;line-height: 0rem;"><b>publicrelations23@alcheinga.in</b></p>
            <p style="font-size: 1.3vw; line-height: 0.3rem;font-family: 'Inter', sans-serif;"><b>alcheringa.in</b></p>
        </div>
        <div class="invoice" style="margin-top: -3vw;font-family: 'Inter', sans-serif;font-weight: 600;">
            <p style="line-height: 0.4rem;">CD Head Name</p>
            <p style="line-height: 0.4rem;">Number</p>
            <p style="line-height: 0.4rem;">CD Head Name</p>
            <p style="line-height: 0.4rem;">Number</p>
            <p style="color: rgb(241, 21, 21); font-size: 1.4rem;line-height: 0.4rem;"><b>INVOICE</b></p>
            <p>Invoice No. : ${}</p>
            <p>Invoice Date : ${}</p>
        </div>
    </div>
    <div class="details" style="margin-left: 5vw;font-family: 'Inter', sans-serif;font-weight: 590;">
        <form action="post">
            <!-- <div style="display: flex; "> -->
            <label for="Leader Name"><p style="line-height: 0.3rem;">Leader Name &nbsp;</p></label>
            <!-- <input type="text" id="name" name="name" style="border: none; width: 19vw;"> -->
            <!-- </div> -->
            <!-- <div style="display: flex; "></div> -->
            <label for="college name"><p style="line-height: 0.3rem;">College Name</p></label>
            <!-- <input type="text" id="collegename" name="clgname" style="border: none; width: 19vw;"> -->
            <!-- </div> -->
            <!-- <div style="display: flex; "></div> -->
            <label for="number"><p style="line-height: 0.3rem;">Number</p></label>
            <!-- <input type="number" id="number" name="number" style="border: none; width: 19vw;"> -->
            <!-- </div> -->
        </form>
        <p><b>Accommodation Type &nbsp;&nbsp;</b> <input type="text" style="border: none;"></p>

        <table style="margin-left:1vw">
            <tr>
              <td colspan="1" >Sl.No</td>
              <td colspan="4">Description</td>
              <td colspan="1">Qty.</td>
              <td colspan="5">Rate</td>
              <td colspan="8">Amount</td>
              
            </tr>
            <tr>
              <td colspan="1" rowspan="5">F</td>
              <td colspan="4" rowspan="5">G</td>
              
            </tr>
            <tr>
              <td colspan="1" rowspan="4">H</td>
              <td colspan="1" rowspan="4">I</td>
            </tr>
            <tr>
              <td colspan="9" rowspan="3">B </td>
              <!-- <td colspan="1">J</td>
              <td colspan="1">K</td> -->
            </tr>
            <tr>
              <!-- <td colspan="4" rowspan="2"> L </td> -->
            </tr>
            <tr>
              <!-- <td colspan="4">C</td> -->
            </tr>
            <tr>
              <td colspan="6"></td>
              <td colspan="1">Total</td>
              <!-- <td>Due DT</td>
              <td>Qty</td>
              <td>Rate</td>
              <td>Per</td>
              <td>Dis%</td>
              <td>Amt</td> -->
            </tr>
            <!-- <tr><td></td></tr> -->
            <!-- <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr> -->
            <!-- <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr> -->
            <tr class="bold">
              <td colspan="50">
                <div style="display: flex;justify-content: space-between;height: 1vw;align-items: center;">
                    <p>Rupees in words</p>
                    <p>Dues</p>
                </div>
              </td>
              <!-- <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td> -->
            </tr>
            <tr>
              <td colspan="6" rowspan="3">Terms and Conditions</td>
              <!-- <td></td>
              <td></td>
              <td></td>
              <td></td> -->
              <td colspan="9">Total Amount Paid</td>
            </tr>
            <!-- <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr> -->
            <!-- <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td colspan="4" rowspan="4"></td>
            </tr> -->
            <!-- <tr>
              <td colspan="4">COMPAGNY NAME</td>
            </tr> -->
            <!-- <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr> -->
            <!-- <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr> -->
          </table>
    </div>
</body>
</html>