{% extends './base.html' %}
{% block title %} Users {% endblock %}
{% block styles %}

{%  endblock styles %}
{% block content %}
<div>
    <h1 class="text-center w-full text-3xl font-bold my-10">Leaders </h1>
    <div class="flex justify-center w-full margin-auto p-5 text-center">
    
    <table>
        <tr>
            <th>Sl No.</th>
            <th>Alcher ID</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Team Name</th>
            <th>College Name</th>
            <th>City</th>
            <th>Phone</th>
            {% comment %} <th>Team Members</th> {% endcomment %}
            <th>Alternate Phone</th>
            <th>Email Verified</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>  {{ forloop.counter }} </td>
            <td>  {{ user.alcherid }}   </td>
            <td>  {{ user.fullname  }}   </td>
            <td>  {{ user.email}}   </td>
            <td>  {{ user.username }}   </td>
            <td>  {{ user.collegename }}   </td>
            <td>  {{ user.city  }}   </td>
            <td>  {{ user.phone_number  }}   </td>
            {% comment %} <td>  <a href="{% url 'team_members' leader_id=user.id %}" target="__blank"> Team Members</a>  </td> {% endcomment %}
            <td>  {{ user.alternate_phone  }}   </td>
            <td>  
                {% if user.is_active %}
                Yes
                {% else %}
                No
                {% endif %}
            </td>
        </tr>
        {% endfor %}
           
           
    </table>

</div>


</div>


{% endblock %}