{% extends 'baseProfile.html' %}
{% load static %}
{% block title %}
  <title>My Registrations</title>

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Inter&family=Poppins&family=Roboto&display=swap" rel="stylesheet" />
  <link href="https://api.fontshare.com/css?f[]=satoshi@400,700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'css/allEventsRegistered.css' %}" />
{% endblock %}
{% block content %}
  <div class="main">
    <div class="right-box">
      <div class="box-nav">
        <h1>My Registrations</h1>
        <a href="{% url 'home' %}">
          <div class="add-reg">
            <p>+</p>Register
          </div>
        </a>
      </div>

      <div class="search-container">
        <div class="team-no">Registered Competitions: {{ registered_competitions_count }}</div>
      </div>

      <div class="competitions-list">
        {% for competition in competition_details_list %}
        <div
        class="rectangle-group module1 competition-details"
        data-module-id="{{ competition.module.id }}"
      >
        <img src="{{ competition.url }}" />
        <div class="competition-name">
          <div class="details">
            <h3 class="eventName"></h3>
            {% if competition.event_short %}
            <h5>{{ competition.event_short }}</h5>
            {% endif %}
            <h5></h5>
            {% comment %}
            <h3><span>Prize worth</span> {{competition.prize_worth}}K+</h3>
            {% endcomment %}

            <h6 style="display: none">{{competition.event_tags}}</h6>
          </div>
          <div class="registerbutton">
            <div class="register-button">
            </div>
          </div>
        </div>
        {% comment %}
        <div class="competition-name"></div>
        {% endcomment %}
        <div class="competition-info">
          <div>
            <h3>{{ competition.event_name }}</h3>
            <p>{{ competition.event_desc }}</p>
          </div>
          <div class="cardlow">
            <h3 class="prize_worth1">
              <div>
                <span>Prize worth</span> <br />
                {{competition.prize_worth}}K+
              </div>
            </h3>
          </div>
        </div>
        <div class="registerbutton2">
          <div class="register-button">
            <a>
              Registered &nbsp;
            </a>
          </div>
        </div>
      </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
