{%load static%}
<footer class="footer1" id="footer">
  {% comment %} new footer code starts {% endcomment %}
  <div class="foot2">
    <div class="desk">
      <div class="alcherfoot">
        <div class="logofoot">
          <img src="{% static 'imgs/Logo.svg' %}" alt="" />
        </div>
      </div>
      <div class="footnav">
        <div class="left">
          <div class="leftone">
            <div class="headd1 headd">Follow Us</div>
            <div class="social">
              <div id="insta" class="socio">
                <a href="https://www.instagram.com/alcheringaiitg/?hl=en">
                  <img src="{% static 'imgs/insta.svg' %}" alt="" />
                </a>
              </div>
              <div id="yt" class="socio">
                <a
                  href="https://www.youtube.com/channel/UCQfsLKaY4a1Mx75hnaZDoxw"
                >
                  <img src="{% static 'imgs/youtube.svg' %}" alt="" />
                </a>
              </div>
              <div id="lin" class="socio">
                <a
                  href="https://www.linkedin.com/company/alcheringaiitguwahati/"
                >
                  <img src="{% static 'imgs/linkedin.svg' %}" alt="" />
                </a>
              </div>
              <div id="x" class="socio">
                <a href="https://x.com/alcheringaiitg?lang=en">
                  <img src="{% static 'imgs/X.svg' %}" alt="" />
                </a>
              </div>
            </div>
          </div>
          <div class="leftsec">
            <div class="headd2 headd">Contact Us</div>
            <div class="contacts">
              <div class="contact1 contact">
                <div class="contactname">Sudhanshu Raj</div>
                <div class="contactpor">PR Head</div>
                <div class="contactno">
                  <img
                    class="phoneicon"
                    src="{% static 'imgs/phone.svg' %}"
                    alt=""
                  />
                  <a href="tel:+91 82929 67325">+91 82929 67325</a>
                </div>
              </div>
              <div class="contact2 contact">
                <div class="contactname">Siddhart Shukla</div>
                <div class="contactpor">PR Head</div>
                <div class="contactno">
                  <img
                    class="phoneicon"
                    src="{% static 'imgs/phone.svg' %}"
                    alt=""
                  />
                  <a href="tel:+91 73546 47811">+91 73546 47811</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="right">
          <img src="{% static 'imgs/Cat.png' %}" alt="" />
        </div>
      </div>
    </div>
    {% comment %} Mobile view {% endcomment %}
    <div class="footnavmob">
      <div class="logofootmob">
        <img src="{% static 'imgs/Logo.svg' %}" alt="" />
      </div>
      <div class="leftonemob">
        <div class="headd1mob headdmob">Follow Us</div>
        <div class="socialmob">
          <div id="instamob" class="sociomob">
            <a href="https://www.instagram.com/alcheringaiitg/?hl=en">
              <img src="{% static 'imgs/insta.svg' %}" alt="" />
            </a>
          </div>
          <div id="ytmob" class="sociomob">
            <a href="https://www.youtube.com/channel/UCQfsLKaY4a1Mx75hnaZDoxw">
              <img src="{% static 'imgs/youtube.svg' %}" alt="" />
            </a>
          </div>
          <div id="linmob" class="sociomob">
            <a href="https://www.linkedin.com/company/alcheringaiitguwahati/">
              <img src="{% static 'imgs/linkedin.svg' %}" alt="" />
            </a>
          </div>
          <div id="xmob" class="sociomob">
            <a href="https://x.com/alcheringaiitg?lang=en">
              <img src="{% static 'imgs/X.svg' %}" alt="" />
            </a>
          </div>
        </div>
      </div>
      <div class="leftsecmob">
        <div class="headd2mob headdmob">Contact Us</div>
        <div class="contactsmob">
          <div class="contact1mob contactmob">
            <div class="contactnamemob">Sudhanshu Raj</div>
            <div class="contactpormob">PR Head</div>
            <div class="contactnomob">
              <img
                class="phoneiconmob"
                src="{% static 'imgs/phone.svg' %}"
                alt=""
              />
              <a href="tel:+91 82929 67325">+91 82929 67325</a>
            </div>
          </div>
          <div class="contact2mob contactmob">
            <div class="contactnamemob">Siddhart Shukla</div>
            <div class="contactpormob">PR Head</div>
            <div class="contactnomob">
              <img
                class="phoneiconmob"
                src="{% static 'imgs/phone.svg' %}"
                alt=""
              />
              <a href="tel:+91 73546 47811">+91 73546 47811</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% comment %}
    <div class="followus">
      <div class="followtxt">Follow Us</div>

      <div class="catimg">
        <img src="{% static 'imgs/Cat.png' %}" alt="" />
      </div>
    </div>
    {% endcomment %}

    <div class="copyright">
      <div class="copytext">Alcheringa @ 2025. All rights reserved.</div>
    </div>
  </div>
</footer>
